.carousel-item img {
  width: 100%;
  overflow: hidden;
  height: 75vh;
}

.aboutImg {
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}

.card-hover-effect {
  overflow: hidden;
  position: relative;
  transition: transform 0.3s; /* Apply the transition to the base class */
}

.card-hover-effect .image-overlay {
  transform: scale(1.05); /* Adjust the scale to your preference */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.card-hover-effect:hover {
  transform: scale(1.05); /* Apply the same scale on hover */
}

  .card {
    border-radius: 25px;
  }

  .card-image { 
    object-fit: fill;
  }

  footer {
    height: 100px;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

}

.btn:hover {
  background-color: olive;
}

li:hover{
  color: olive;
}