.carousel-item img {
  width: 100%;
  overflow: hidden;
  height: 75vh;
}

.aboutImg {
    height: 50vh;
}

.card-hover-effect {
  overflow: hidden;
  position: relative;
  transition: transform 0.3s; /* Apply the transition to the base class */
}

.card-hover-effect .image-overlay {
  transform: scale(1.05); /* Adjust the scale to your preference */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.card-hover-effect:hover {
  transform: scale(1.05); /* Apply the same scale on hover */
}


  .card {
    border-radius: 25px;
    max-height: 200px;
  }

  .card-image { 
    object-fit: fill;
  }

  footer {
    height: 100px;
  }

  #displayParkLocation {
    display: none; 
  }

  #displayParkByType{
    display: none;
  }


